<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Các bộ sưu tập Quest về Ẩm thực</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Quest</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="default-shape">
        <div class="shape-1"><img src="assets/img/shape/1.png" alt="image"></div>
        <div class="shape-2 rotateme"><img src="assets/img/shape/2.png" alt="image"></div>
        <div class="shape-3"><img src="assets/img/shape/3.svg" alt="image"></div>
        <div class="shape-4"><img src="assets/img/shape/4.svg" alt="image"></div>
        <div class="shape-5"><img src="assets/img/shape/5.png" alt="image"></div>
    </div>
</div>

<section class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6" *ngFor="let item of [0,1,2,3,4,5,6]">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/single-blog"><img src="assets/img/quest/vinpearl_safari_phu_quoc_gonatour.png" alt="image"></a>
                        <!-- <div class="category-btn">
                            <a routerLink="/blog">App</a>
                        </div> -->
                    </div>

                    <div class="content">
                        <ul class="post-meta">
                            <li><fa-icon [icon]="faLocationDot" class="icon_location"></fa-icon> Phú Quốc</li>
                            <li><i class="fa fa-comments"></i> <a routerLink="/single-blog">
                                <fa-icon [icon]="faStar" class="icon_star"></fa-icon> 5.0 (41)</a></li>
                        </ul>
                        <div class="block-ellipsis">
                            <h3><a routerLink="/single-blog">Vinpearl Safari Phú Quốc, Vinpearl Safari Phú Quốc Safari Phú Quốc</a></h3>
                        </div>
                        <div class="d-flex">
                            <span class="pack_price">150.000 đ</span>
                            <span class="per_quest">/ Quest </span> &nbsp;
                            <span class="minutes"> · 150 phút</span>
                        </div>
                        <a routerLink="/single-blog" class="read-more">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a routerLink="/blog" class="prev page-numbers"><fa-icon [icon]="faChevronLeft"></fa-icon></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/blog" class="page-numbers">2</a>
                    <a routerLink="/blog" class="page-numbers">3</a>
                    <a routerLink="/blog" class="page-numbers">4</a>
                    <a routerLink="/blog" class="next page-numbers"><fa-icon [icon]="faChevronRight"></fa-icon></a>
                </div>
            </div>
        </div>
    </div>

    <div class="default-shape">
        <div class="shape-1"><img src="assets/img/shape/1.png" alt="image"></div>
        <div class="shape-2 rotateme"><img src="assets/img/shape/2.png" alt="image"></div>
        <div class="shape-3"><img src="assets/img/shape/3.svg" alt="image"></div>
        <div class="shape-4"><img src="assets/img/shape/4.svg" alt="image"></div>
        <div class="shape-5"><img src="assets/img/shape/5.png" alt="image"></div>
    </div>
</section>
