<div class="container">
    <h4> {{'purchaseHistory' | translate}} </h4>
    <p> {{'purchaseHistoryText' | translate}} </p>
    <div class="contain" *ngIf="payments.length != 0; else paymentNull">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"> {{'date' | translate}} </th>
                    <th scope="col"> {{'billCode' | translate}} </th>
                    <th scope="col">Quest</th>
                    <th scope="col"> {{'total' | translate}} </th>
                    <th scope="col" style="width: 7rem;"> {{"status" | translate}} </th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let payment of payments; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>
                                {{ payment.createdDate | date:'short' }}
                            </td>
                            <td>{{ payment.id }}</td>
                            <td >
                                <span *ngFor="let quest of quests">
                                    <span *ngIf="payment.questId === quest.id">
                                        {{quest.title}} <span class="quantity">x{{payment.quantity}}</span>

                                    </span>
                                </span>
                            </td>
                            <td>{{payment.totalAmount | number}}đ</td>
                            <td>
                                <span  class="badge badge-pill" [ngClass]="{'badge-success': payment.status == 'Success',
                                                                'badge-warning': payment.status == 'Pending',
                                                                'badge-danger': payment.status == 'Failed'}">

                                        <span *ngIf="language != '0'">
                                            {{payment.status == 'Success' ? 'Thành công' : ''}}
                                            {{payment.status == 'Pending' ? 'Chờ thanh toán' : ''}}
                                            {{payment.status == 'Failed' ? 'Thất bại': ''}}
                                        </span>
                                        <span *ngIf="language == '0'">
                                            {{payment.status}}
                                        </span>
                                </span>
                            </td>
                    </tr>
                </tbody>

        </table>
    </div>
    <ng-template #paymentNull>
        <h6> {{'notBuyYet' | translate}} </h6>
    </ng-template>
</div>
