<div class="container">
    <div class="section-title">
        <h2>Những tính năng đặc trưng</h2>
        <div class="bar"></div>
        <p>
            Chúng tôi cung cấp cho người dùng những trải nghiệm tốt nhất kèm
            những tính năng nổi bật
        </p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="single-features">
                <div class="icon">
                    <i>
                        <fa-icon [icon]="faShieldVirus" size="lg"></fa-icon>
                    </i>
                </div>
                <h3>An toàn & riêng tư</h3>
                <p>
                    Đi riêng cùng bạn bè và gia đình. Thích ứng với thời kỳ
                    covid-19.
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="single-features">
                <div class="icon">
                    <i>
                        <fa-icon [icon]="faLightbulb" size="lg"></fa-icon>
                    </i>
                </div>
                <h3>Trải nghiệm vui lạ</h3>
                <p>
                    Hoạt động nhập vai ngộ nghĩnh với các thử thách lý thú trong
                    đời thực.
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="single-features">
                <div class="icon">
                    <i>
                        <fa-icon [icon]="faBolt" size="lg"></fa-icon>
                    </i>
                </div>
                <h3>Thanh toán tức thời</h3>
                <p>
                    Không cần đặt trước. Đặt vào phút cuối và mở khoá Quest ngay
                    lập tức.
                </p>
            </div>
        </div>


    </div>

    <div class="row row-j-c">
        <!-- <div class="flex-fill"></div> -->

        <div class="col-lg-4 col-md-6">
            <div class="single-features">
                <div class="icon">
                    <i>
                        <fa-icon [icon]="faClockRotateLeft" size="lg"></fa-icon>
                    </i>
                </div>
                <h3>Thời gian linh hoạt</h3>
                <p>
                    Bắt đầu bất cứ khi nào bạn muốn, chỉ cần đi đến điểm xuất
                    phát.
                </p>
            </div>
        </div>
        <!-- <div class="flex-fill"></div> -->

    </div>
</div>
