<div class="container">
    <div class="section-title">
        <h2>Vì sao 24hTrip được yêu thích?</h2>
        <div class="bar"></div>
        <p>Chúng tôi cung cấp các Quest là các tour du lịch tự túc đã được game hoá với các thử thách thú vị trong từng chuyến đi.</p>
    </div>

    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="about-content">
                <h3>Trổ tài giải đố, thỏa sức đam mê</h3>
                <div class="bar"></div>
                <p>Chúng tôi cung cấp các Quest - tour cho những khách du lịch có kinh phí thấp, nhu cầu du lịch trong ngày, người du lịch từ nơi khác muốn trải nghiệm văn hóa địa phương, người địa phương muốn tìm hiểu văn hóa, lịch sử địa phương nơi mình sinh sống.</p>
                <p>Hãy đồng hành cùng chúng tôi, các tín đồ du lịch sẽ được trải nghiệm về văn hóa địa phương, địa danh, lịch sử, làng nghề, thực phẩm và những phần quà vô cùng hấp dẫn đang chờ đó các bạn.</p>
                <div class="about-btn">
                    <a routerLink="/" class="default-btn">Tải ngay <span></span></a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="about-image">
                <img src="assets/img/about.png" alt="image">
            </div>
        </div>
    </div>
</div>
