<div class="container">
    <div class="section-title">
        <h2>Đôi lời về 24hTrip</h2>
        <div class="bar"></div>
        <p>Chúng tôi xây dựng một nền tảng du lịch độc lạ kết hợp với Gamification (Game hóa) nhằm đưa tới du khách những trải nghiệm mới mẻ trong từng chuyến đi.</p>
    </div>

    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="about-content">
                <h3>Trổ tài giải đố, thỏa sức đam mê</h3>
                <div class="bar"></div>
                <p>Chúng tôi cung cấp các Quest, gọi là các tour cho những khách du lịch có kinh phí thấp, nhu cầu du lịch trong ngày, người du lịch từ nơi khác muốn trải nghiệm văn hóa địa phương, người địa phương muốn tìm hiểu văn hóa, lịch sử địa phương nơi mình sinh sống.</p>
                <p>Hãy đồng hành cùng chúng tôi, các tín đồ du lịch sẽ được trải nghiệm về văn hóa địa phương, địa danh, lịch sử, làng nghề, thực phẩm và những phần quà vô cùng hấp dẫn đang chờ đó các bạn.</p>
                <h5>Hãy tải 24hTrip ngay !</h5>
                <div class="about-btn">
                    <!-- <a routerLink="/new-quest" class="default-btn">Đến ngay<span></span></a> -->
                    <!-- <a href="#blog" class="default-btn">Đến ngay<span></span></a> -->
                    <!-- Custome for home-two  -->
                <div class="banner-holder">
                    <a routerLink="/"><img src="assets/img/store/1.png" class="img_chplay" alt="image"></a>
                    <a routerLink="/"><img src="assets/img/store/2.png" class="img_appstore" alt="image"></a>
                </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="about-image">
                <img src="assets/img/about.png" alt="image">
            </div>
        </div>
    </div>
</div>
