<h4> {{'passwordChanging' | translate}} </h4>
<p> {{'passwordInform' | translate}} </p>
<label> {{'passwordNote1' | translate}} </label>
<label> {{'passwordNote2' | translate}} </label>
<div class="contain mt-4">

  <form [formGroup]="formPasswordChanging" novalidate>
        <div class="col-lg-6 col-md-6 form-row text-capitalize">
            <input type="password"  formControlName="oldPassword" required/>
            <span> {{'currentPassword' | translate}} </span>
        </div>
        <!-- Valid Old Password -->
        <div style="color: red;" *ngIf="msg_PasswordRecentWrong != '' ">
            {{msg_PasswordRecentWrong}}
        </div>

        <div class="col-lg-6 col-md-6" *ngIf="formPasswordChanging.controls['oldPassword'].invalid && (formPasswordChanging.controls['oldPassword'].dirty || formPasswordChanging.controls['oldPassword'].touched)" class="alert alert-danger">
            <div  *ngIf="formPasswordChanging.controls['oldPassword'].errors.required">
                {{'inputCurrentPassword' | translate}}
            </div>
            <div  *ngIf="formPasswordChanging.controls['oldPassword'].errors.minlength">
                {{'passwordValid8chars' | translate}}
            </div>
            <div  *ngIf="formPasswordChanging.controls['oldPassword'].errors.pattern">
                {{'passwordValid' | translate}}
            </div>
        </div>
        <!-- End Valid Old Password -->

        <div class="col-lg-6 col-md-6 form-row text-capitalize mt-5">
            <input type="password" formControlName="newPassword" required />
            <span> {{'newPassword' | translate}} </span>
        </div>
        <!-- Valid New Password -->
        <div class="col-lg-6 col-md-6" *ngIf="formPasswordChanging.controls['newPassword'].invalid && (formPasswordChanging.controls['newPassword'].dirty || formPasswordChanging.controls['newPassword'].touched)" class="alert alert-danger">
            <div  *ngIf="formPasswordChanging.controls['newPassword'].errors.required">
                {{'inputNewPassword' | translate}}
            </div>
            <div  *ngIf="formPasswordChanging.controls['newPassword'].errors.minlength">
                {{'passwordValid8chars' | translate}}
            </div>
            <div  *ngIf="formPasswordChanging.controls['newPassword'].errors.pattern">
                {{'passwordValid' | translate}}
            </div>
        </div>
        <!-- End Valid New Password -->

        <div class="col-lg-6 col-md-6 form-row text-capitalize">
            <input type="password" formControlName="confirmNewPassword" required />
            <span> {{'confirmNewPassword' | translate}} </span>
        </div>
        <!-- Valid Comfirm Password -->

        <div class="col-lg-6 col-md-6" *ngIf="formPasswordChanging.controls['confirmNewPassword'].invalid && (formPasswordChanging.controls['confirmNewPassword'].dirty || formPasswordChanging.controls['confirmNewPassword'].touched)" class="alert alert-danger">
            <div  *ngIf="formPasswordChanging.controls['confirmNewPassword'].errors.required">
                {{'reEnterPassword' | translate}}
            </div>
            <div  *ngIf="formPasswordChanging.controls['confirmNewPassword'] !== formPasswordChanging.controls['newPassword']">
                {{'passwordNoMatching' | translate}}
            </div>
        </div>
        <!-- End Valid Comfirm Password -->
        <div class="pricing-btn text-left pt-3">
            <button
            class="default-btn btn"
            (click)="changePassword()"
            [disabled]="formPasswordChanging.pristine || formPasswordChanging.invalid"
            >
            {{'btn_confirm' | translate}} <span></span>
            </button>
        </div>
    </form>

</div>
