<h4>Đổi Mật Khẩu</h4>
<p>Bạn có thể đổi mật khẩu cho tài khoản của bạn tại đây.</p>
<label>*Chức năng này chỉ dành cho người dùng đăng nhập bằng Tài Khoản và Mật Khẩu.</label>
<label>*Nếu bạn đăng nhập bằng tài khoản Facebook hoặc Google, hãy dùng chức năng "Quên Mật Khẩu" trên thanh "Đăng Nhập", chúng tôi sẽ tạo Mật Khẩu cho tài khoản của bạn.</label>
<div class="contain mt-4">

  <form [formGroup]="formPasswordChanging" novalidate>
        <div class="col-lg-6 col-md-6 form-row text-capitalize">
            <input type="password"  formControlName="oldPassword" required/>
            <span>Mật khẩu hiện tại</span>
        </div>
        <!-- Valid Old Password -->
        <div style="color: red;" *ngIf="msg_PasswordRecentWrong != '' ">
            {{msg_PasswordRecentWrong}}
        </div>

        <div class="col-lg-6 col-md-6" *ngIf="formPasswordChanging.controls['oldPassword'].invalid && (formPasswordChanging.controls['oldPassword'].dirty || formPasswordChanging.controls['oldPassword'].touched)" class="alert alert-danger">
            <div  *ngIf="formPasswordChanging.controls['oldPassword'].errors.required">
                Hãy nhập Mật Khẩu hiện tại
            </div>
            <div  *ngIf="formPasswordChanging.controls['oldPassword'].errors.minlength">
                Mật khẩu gồm ít nhất 8 ký tự
            </div>
            <div  *ngIf="formPasswordChanging.controls['oldPassword'].errors.pattern">
                Mật khẩu không hợp lệ
            </div>
        </div>
        <!-- End Valid Old Password -->

        <div class="col-lg-6 col-md-6 form-row text-capitalize mt-5">
            <input type="password" formControlName="newPassword" required />
            <span>Mật khẩu mới</span>
        </div>
        <!-- Valid New Password -->
        <div class="col-lg-6 col-md-6" *ngIf="formPasswordChanging.controls['newPassword'].invalid && (formPasswordChanging.controls['newPassword'].dirty || formPasswordChanging.controls['newPassword'].touched)" class="alert alert-danger">
            <div  *ngIf="formPasswordChanging.controls['newPassword'].errors.required">
                Hãy nhập Mật Khẩu mới
            </div>
            <div  *ngIf="formPasswordChanging.controls['newPassword'].errors.minlength">
                Mật khẩu gồm ít nhất 8 ký tự
            </div>
            <div  *ngIf="formPasswordChanging.controls['newPassword'].errors.pattern">
                Mật khẩu không hợp lệ
            </div>
        </div>
        <!-- End Valid New Password -->

        <div class="col-lg-6 col-md-6 form-row text-capitalize">
            <input type="password" formControlName="confirmNewPassword" required />
            <span>Xác nhận mật khẩu mới</span>
        </div>
        <!-- Valid Comfirm Password -->

        <div class="col-lg-6 col-md-6" *ngIf="formPasswordChanging.controls['confirmNewPassword'].invalid && (formPasswordChanging.controls['confirmNewPassword'].dirty || formPasswordChanging.controls['confirmNewPassword'].touched)" class="alert alert-danger">
            <div  *ngIf="formPasswordChanging.controls['confirmNewPassword'].errors.required">
                Hãy nhập lại Mật Khẩu
            </div>
            <div  *ngIf="formPasswordChanging.controls['confirmNewPassword'] !== formPasswordChanging.controls['newPassword']">
                Xác Nhận Mật Khẩu không khớp với Mật Khẩu
            </div>
        </div>
        <!-- End Valid Comfirm Password -->
        <div class="pricing-btn text-left pt-3">
            <button
            class="default-btn btn"
            (click)="changePassword()"
            [disabled]="formPasswordChanging.pristine || formPasswordChanging.invalid"
            >
            Xác Nhận <span></span>
            </button>
        </div>
    </form>

</div>
