<div class="container">
    <div class="section-title">
        <h2>Những câu hỏi thường gặp</h2>
        <div class="bar"></div>
        <p>Những băn khoăn thường thấy ở những bạn mới đến 24hTrip</p>
    </div>

    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="faq-accordion-content">
                <div class="accordion" id="faqAccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Quest và Quest Owner là gì?
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </div>

                        <div id="collapseOne" class="collapse show" data-bs-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Thuật ngữ Quest trong 24hTrip đó là tua du lịch tự túc. Quest Owner là những người tham gia vào hệ thống, nhiệm vụ của họ là tạo các Quest và kiếm thu nhập từ đó.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Làm cách nào để trở thành Quest Owner?
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </div>

                        <div id="collapseTwo" class="collapse" data-bs-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Hãy gửi CV của bạn cho chúng tôi. Chúng tôi sẽ sắp xếp một cuộc gọi trực tuyến với bạn để tìm hiểu về kinh nghiệm làm việc và kỹ năng của bạn. Đừng ngần ngại, chỉ cần điền vào biểu mẫu của chúng tôi, chúng tôi sẽ liên hệ với bạn sớm nhất!</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Quest Owner có cần phả viết mã Code không?
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </div>

                        <div id="collapseThree" class="collapse" data-bs-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Không. Chúng tôi cung cấp cho bạn một trang để tạo Quest của bạn với giao diện thân thiện. Rất đơn giản, bạn chỉ cần điền nội dung bằng văn bản và tải lên các hình ảnh, video hoặc âm thanh.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Làm sao để Quest Owner nhận được khoản thù lao?
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </div>

                        <div id="collapseFour" class="collapse" data-bs-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Chúng tôi sẽ chuyển khoản cho Quest Owner theo từng kỳ một lần, mỗi kỳ gồm '1 tháng'.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Làm sao để Quest Owner có thể tạo một Quest? Có tài liệu hướng dẫn không
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </div>

                        <div id="collapseFive" class="collapse" data-bs-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Chúng tôi cung cấp cho bạn hướng dẫn chi tiết cho từng bước. Chúng tôi cũng hỗ trợ một số mẹo hay để bạn có thể đăng bán Quest của mình hiệu quả hơn, để bạn có thể kiếm được ngày càng nhiều thu nhập thụ động. Bạn có thể truy cập vào các phần này sau khi bạn đã được chấp thuận trở thành Quest Owner của chúng tôi. Bên cạnh đó, bạn cũng có thể đặt lịch hẹn trò chuyện với 24hTrip để được tư vấn trực tiếp.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="faq-image">
                <img src="assets/img/faq-mobile.png" alt="image">
            </div>
        </div>
    </div>
</div>
