<div class="container">
    <div class="section-title">
        <h2>Bộ sưu tập Quest</h2>
        <div class="bar"></div>
        <p>Tuyển tập các Quest hay nhất của chúng tôi.</p>
    </div>

    <div class="quest-type">
        <h3>Quest giải mã</h3>
        <br/>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="single-blog-post">
                <div class="image">
                    <a routerLink="/single-blog"><img src="assets/img/quest/vinpearl_safari_phu_quoc_gonatour.png" alt="image"></a>
                    <!-- <div class="category-btn">
                        <a routerLink="/blog">App</a>
                    </div> -->
                </div>

                <div class="content">
                    <ul class="post-meta">
                        <li><i class="fa fa-calendar"></i> Phú Quốc</li>
                        <li><i class="fa fa-comments"></i> <a routerLink="/single-blog"><fa-icon [icon]="faStar"></fa-icon> 5.0 (41)</a></li>
                    </ul>
                    <h3><a routerLink="/single-blog">Vinpearl Safari Phú Quốc</a></h3>
                    <div class="d-flex">
                        <span class="pack_price">150.000 đ</span>
                        <span class="per_quest">/ Quest </span> &nbsp;
                        <span class="minutes"> · 150 phút</span>
                    </div>
                    <a routerLink="/single-blog" class="read-more">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="single-blog-post">
                <div class="image">
                    <a routerLink="/single-blog"><img src="assets/img/blog/image2.jpg" alt="image"></a>
                    <div class="category-btn">
                        <a routerLink="/blog">Web</a>
                    </div>
                </div>

                <div class="content">
                    <ul class="post-meta">
                        <li><i class="fa fa-calendar"></i> 18 March 2020</li>
                        <li><i class="fa fa-comments"></i> <a routerLink="/single-blog">6 Comment</a></li>
                    </ul>
                    <h3><a routerLink="/single-blog">The Most Popular New Apps in 2020</a></h3>
                    <p>Water plan dolor sit amet consturisi velised quiLorem</p>
                    <a routerLink="/single-blog" class="read-more">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="single-blog-post">
                <div class="image">
                    <a routerLink="/single-blog"><img src="assets/img/blog/image3.jpg" alt="image"></a>
                    <div class="category-btn">
                        <a routerLink="/blog">Design</a>
                    </div>
                </div>

                <div class="content">
                    <ul class="post-meta">
                        <li><i class="fa fa-calendar"></i> 28 March 2020</li>
                        <li><i class="fa fa-comments"></i> <a routerLink="/single-blog">0 Comment</a></li>
                    </ul>
                    <h3><a routerLink="/single-blog">The Best Marketing Management Tools</a></h3>
                    <p>Water plan dolor sit amet consturisi velised quiLorem</p>
                    <a routerLink="/single-blog" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
