<div class="contact-wrapper">
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <!-- LOGIN -->
    <div class="sign-in-form" *ngIf="nextModal == 'login'">
        <header class="login-cta">
            <h2>Đăng Nhập</h2>
        </header>

        <form [formGroup]="formLogin" novalidate>
            <div class="form-row">
                <input type="text" name="email" formControlName="email" required />
                <span>Email</span>
            </div>
            <!-- Valid Email -->
            <div *ngIf="formLogin.controls['email'].invalid && (formLogin.controls['email'].dirty || formLogin.controls['email'].touched)" class="alert alert-danger">
                <div *ngIf="formLogin.controls['email'].errors.required">
                    Hãy nhập Email
                </div>
                <div *ngIf="formLogin.controls['email'].errors.email">
                    Sai định dạng Email
                </div>
            </div>

            <div class="form-row">
                <input type="password" name="password" formControlName="password" required />
                <span>Mật Khẩu</span>
            </div>
            <!-- Valid Password -->
            <div *ngIf="formLogin.controls['password'].invalid && (formLogin.controls['password'].dirty || formLogin.controls['password'].touched)" class="alert alert-danger">
                <div *ngIf="formLogin.controls['password'].errors.required">
                    Hãy nhập Password
                </div>
                <div *ngIf="formLogin.controls['password'].errors.minlength">
                    Mật khẩu gồm ít nhất 8 ký tự
                </div>
                <div *ngIf="formLogin.controls['password'].errors.pattern">
                    Mật khẩu không hợp lệ
                </div>
            </div>

            <div class="form-row"></div>
            <div class="forgot">
                <a class="forgot-pass-link highlight" (click)="goForgotPassword()">Quên mật khẩu?</a>
            </div>
            <!-- <div class="msg-error" *ngIf="msg != null">
                {{msg}}
            </div> -->
            <div class="form-row">
                <!-- <button type="submit" (click)="login()">Đăng Nhập</button> -->
                <button type="submit"
                        [disabled]="formLogin.pristine || formLogin.invalid" class="btn btn-success"
                        (click)="login()"
                        >

                Đăng Nhập
                </button>
            </div>

        </form>
        <div class="socials-wrapper">
            <header>
                <h2>Hoặc đăng nhập bằng tài khoản</h2>
            </header>
            <ul>
                <li>
                    <a class="facebook" (click)="loginWithFacebook()"
                        ><fa-icon
                            [icon]="faFacebookSquare"
                            class="icon"
                            size="xl"
                        ></fa-icon
                    ></a>
                </li>
                <!-- <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li> -->
                <!-- <li><a href="#" class="twitch"><i class="fab fa-twitch"></i></a></li> -->
                <li>
                    <a class="google" (click)="loginWithGoogle()"
                        ><fa-icon
                            [icon]="faGoogle"
                            class="icon"
                            size="xl"
                        ></fa-icon
                    ></a>
                </li>
            </ul>
        </div>
        <div class="create-aacount">
            Chưa có tài khoản?
            <a class="text-underline sign-up-form-btn highlight"
                (click)="goRegisterTab()"
                >Tạo ngay</a
            >
        </div>
    </div>
    <!-- REGISTER -->
    <div class="sign-up-form" *ngIf="nextModal == 'register'">
        <header class="login-cta">
            <h2>Đăng Ký Tài Khoản</h2>
            <ul>
                <li>Mật khẩu có ít nhất 8 ký tự</li>
                <li>Mật khẩu có ít nhất 1 ký tự đặc biệt [!@#$%^&*]</li>
                <li>Mật khẩu có ít nhất 1 chữ thường [a-z]</li>
                <li>Mật khẩu có ít nhất 1 chữ Hoa [A-Z]</li>
            </ul>
        </header>
        <form [formGroup]="formRegister" novalidate>
            <div class="form-row">
                <input type="text" name="email" required formControlName="email"/>
                <span>Email</span>
            </div>
            <!-- Valid Email -->
            <div *ngIf="formRegister.controls['email'].invalid && (formRegister.controls['email'].dirty || formRegister.controls['email'].touched)" class="alert alert-danger">
                <div *ngIf="formRegister.controls['email'].errors.required">
                    Hãy nhập Email
                </div>
                <div *ngIf="formRegister.controls['email'].errors.email">
                    Sai định dạng Email
                </div>
            </div>

            <div class="form-row">
                <input type="password" name="password" required formControlName="password"/>
                <span>Mật Khẩu</span>
            </div>
            <!-- Valid Password -->
            <div *ngIf="formRegister.controls['password'].invalid && (formRegister.controls['password'].dirty || formRegister.controls['password'].touched)" class="alert alert-danger">
                <div *ngIf="formRegister.controls['password'].errors.required">
                    Hãy nhập Password
                </div>
                <div *ngIf="formRegister.controls['password'].errors.minlength">
                    Mật khẩu gồm ít nhất 8 ký tự
                </div>
                <div *ngIf="formRegister.controls['password'].errors.pattern">
                    Mật khẩu không hợp lệ
                </div>
            </div>

            <div class="form-row">
                <input type="password" name="passwordConfirm" required formControlName="passwordConfirm"/>
                <span>Xác Nhận Mật Khẩu</span>
            </div>
            <!-- Valid Password Comfirm-->
            <div *ngIf="formRegister.controls['passwordConfirm'].invalid && (formRegister.controls['passwordConfirm'].dirty || formRegister.controls['passwordConfirm'].touched)" class="alert alert-danger">
                <div *ngIf="formRegister.controls['passwordConfirm'].errors.required">
                    Hãy nhập lại Mật Khẩu
                </div>
                <div *ngIf="formRegister.controls['passwordConfirm'] !== formRegister.controls['password']">
                    Xác Nhận Mật Khẩu không khớp với Mật Khẩu
                </div>
            </div>
            <div *ngIf="msgAccountExist != ''">
                {{msgAccountExist}}
            </div>
            <div class="form-row"></div>
            <div class="form-row">
                <button type="button" (click)="goVerifyTab()" class="btn btn-success"
                [disabled]="formRegister.pristine || formRegister.invalid">
                    Đăng Ký
                </button>
            </div>

            <div class="create-aacount pt-3">
                <a  class="text-underline sign-in-form-btn highlight" (click)="goLoginTab()" >
                    Trở về</a
                >
            </div>
        </form>
        <!-- <form>
            <div class="form-row">
                <input type="text" name="email" required [(ngModel)]="userRegister.email"/>
                <span>Email</span>
            </div>
            <div class="form-row">
                <input type="password" name="password" required [(ngModel)]="userRegister.password"/>
                <span>Mật Khẩu</span>
            </div>
            <div class="form-row">
                <input type="password" name="comfirmPassword" required [(ngModel)]="comfirmPassword"/>
                <span>Xác Nhận Mật Khẩu</span>
            </div>
            <div class="form-row"></div>
            <div class="msg-error" *ngIf="msg != null">
                {{msg}}
            </div>
            <div class="form-row">
                <button type="button" (click)="goVerifyTab()">Đăng Ký</button>
            </div>

            <div class="create-aacount pt-3">

                <a  class="text-underline sign-in-form-btn highlight" (click)="goLoginTab()" >
                    Trở về</a
                >
            </div>
        </form> -->
    </div>
    <!-- VERIFY EMAIL -->
    <div class="verify-form" *ngIf="nextModal == 'verify'">
        <header class="login-cta">
            <h2>Xác Minh Email</h2>
            Chúng tôi đã gửi mail xác minh về email của bạn, hãy kiểm tra hộp thư!
        </header>
        <form>
            <div class="form-row"></div>
            <div class="form-row">
                <button type="submit" (click)="goLoginTab()">Đã Xác Nhận</button>
            </div>
            <div class="create-aacount pt-3">
                <a  class="text-underline sign-in-form-btn highlight" (click)="goRegisterTab()" >
                    Trở về
                </a>
            </div>
        </form>
    </div>
    <!-- FORGOT PASSWORD -->
    <div class="forgot-pass-form" *ngIf="nextModal == 'forgot'">
        <header class="login-cta">
            <h2>Quên Mật Khẩu</h2>
            Hãy nhập đúng Email và nhấn nút Đặt Lại Mật Khẩu, chúng tôi sẽ gửi Mật Khẩu mới qua Email của bạn
        </header>

        <form [formGroup]="formForgotPassword" novalidate>
            <div class="form-row">
                <input type="text" name="forgot-password" formControlName="email" required/>
                <span>Email</span>
            </div>
            <div *ngIf="formForgotPassword.controls['email'].invalid && (formForgotPassword.controls['email'].dirty || formForgotPassword.controls['email'].touched)" class="alert alert-danger">
                <div *ngIf="formForgotPassword.controls['email'].errors.required">
                    Hãy nhập Email
                </div>
                <div *ngIf="formForgotPassword.controls['email'].errors.email">
                    Sai định dạng Email
                </div>
            </div>
           <!-- <div class="form-group">
              <label for="">Email</label>
              <input type="email" placeholder="@mail.com">
           </div> -->
           <div class="form-row"></div>
            <div class="form-row">
                <button type="button" (click)="forgotPassword()"
                [disabled]="formForgotPassword.pristine || formForgotPassword.invalid"
                class="btn btn-success"
                >
                Đặt Lại Mật Khẩu
                </button>
            </div>
           <div class="create-aacount">
              Đã nhận được Mật Khẩu mới?
              <a class="go-to-sign-in highlight" (click)="goLoginTab()">Đăng nhập</a>
           </div>
        </form>
    </div>

</div>


