<h5>Thông tin cá nhân</h5>
<p>Bạn có thể xem và cập nhật thông tin của bạn tại đây</p>
<div class="row">
    <div class="avatar-info text-center pb-4">
        <h5>Ảnh đại diện</h5>
        <img
            src="{{ customerUpdating?.imagePath == null ? 'assets/img/default-avatar.png': customerUpdating?.imagePath }}"
            class="avatar"
            alt="image"
        />
    </div>
    <!-- <div class="name-info pb-4 col-lg-6 col-md-6">
            <h5>Họ và tên</h5>
            <input
                type="text"
                name="name-input"
                class="form-control voucher-input"
                [(ngModel)]="customerUpdating.userName"
            />
    </div> -->
    <div class="email-info pb-4 col-lg-6 col-md-6">
        <h5>Email</h5>
        <input
            type="text"
            name="email-input"
            class="form-control voucher-input"
            [(ngModel)]="customerUpdating.email"
            disabled
        />
    </div>
    <div class="address-info pb-4 col-lg-6 col-md-6">
        <h5>Địa chỉ</h5>
        <input
            type="text"
            name="address-input"
            class="form-control voucher-input"
            [(ngModel)]="customerUpdating.address"
        />
    </div>
    <!-- <div class="phone-info pb-4 col-lg-6 col-md-6">
        <h5>Số điện thoại</h5>
        <input
            type="text"
            name="phone-input"
            class="form-control phone-input"
            [(ngModel)]="customerUpdating.address"

        />
    </div> -->
    <div class="gender-info pb-4">
        <h5>Giới tính</h5>

        <div class="gender-selector">
            <input type="radio" name="option" id="genderMale" (click)="changeGender('male')" [value]="customerUpdating.gender" />
            <label for="genderMale" class="genderMale">
                <div class="icon">
                    <i class="male" [ngStyle]="{'color':customerUpdating.gender? 'deepskyblue':''}">
                        <fa-icon
                            class="male-icon"
                            [icon]="faMars"
                            size="lg"
                        ></fa-icon>
                    </i>
                </div>
            </label>
            <input type="radio" name="option" id="genderFemale" (click)="changeGender('female')" [value]="!customerUpdating.gender"/>
            <label for="genderFemale" class="genderFemale pl-5">
                <div class="icon">
                    <i class="female" [ngStyle]="{'color':!customerUpdating.gender? '#fd627d':''}">
                        <fa-icon
                            class="female-icon"
                            [icon]="faVenus"
                            size="lg"
                        ></fa-icon>
                    </i>
                </div>
            </label>
        </div>
    </div>
</div>
<div class="pricing-btn text-center">
    <a class="default-btn" (click)="updateProfile()"> Lưu thay đổi <span></span></a>
</div>
