<section class="app-download ptb-100">
    <div class="container">
        <div class="app-download-content">
            <h3>Hãy trải nghiệm ngay ứng dụng của chúng tôi</h3>
            <div class="bar"></div>
            <p>Một mô hình du lịch mới lạ sẽ mang tới cho các tín đồ du lịch trong nước một cảm giác hoàn toàn khác biệt so với các tour truyền thống. Với những bộ sưu tập Quest của chúng tôi cùng với các cốt truyện đậm chất dân tộc, bạn có thể thỏa thích chọn những địa điểm để bắt đầu cuộc hành trình khám phá muôn vàn địa điểm du lịch cùng gia đình và bạn bè.</p>
            <div class="app-holder">
                <a routerLink="/"><img src="assets/img/store/1.png" alt="image"></a>
                <a routerLink="/"><img src="assets/img/store/2.png" alt="image"></a>
            </div>
        </div>
    </div>
</section>
